:root{
    --primary-blue: #3c74a9;
    --secondary-blue: #42a5f5;

    --primary-green: #4caf50;
    --secondary-green: #81c784;

    --primary-red: #f44336;
    --secondary-red: #e57373;

    --primary-yellow: #ffeb3b;
    --secondary-yellow: #fff176;

    --primary-black: #212121;
    --secondary-black: #424242;

    --primary-orange: #ff9800;
    --secondary-orange: #ffb74d;


    --dark-background: #181818;
    --light-gray-text: #d9d9d9;
    --primary-text: #181818;
    --highlight-green: #e9ff32;
    --primary-background: #f5f5f5;
    --light-gray-background: #f1f1f1;

}

/*MODIFY BELOW ONLY*/

body{
    background-color: var(--primary-background);
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    
}
.gap-4rem{
    gap: 4rem;
}

.gap-2rem{
    gap: 2rem;
}

.gap-5rem{
    gap: 5rem;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 4rem;

}
.hide-cursor {
    cursor: none;
}
.nav-wrapper{
    background-color: var(--primary-background);
    box-shadow:none;

}

.primary-text{
    color: var(--primary-text);
    font-size: 24px;
    font-weight: 600;
    font-family: "Jura", sans-serif;
}

.primary-highlighted-text{
    color: var(--light-gray-text);
    background-color: var(--primary-text);
    font-size: 24px;
    font-weight: 600;
    font-family: "Jura", sans-serif;
}


.main-title{
    font-size: 9rem;
    font-weight: 600;
    margin: 0;
    line-height: 0.8;
    padding: 0;
    color: var(--primary-text);
    font-family: "Anuphan", sans-serif;
}

.subtitle{
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: var(--secondary-black);
    font-family: "Jura", sans-serif;
    text-transform: uppercase;
}

.section-title{
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 0.8;
    margin: 0;
    padding: 0;
    color: var(--primary-text);
    font-family: "Amiko", sans-serif;
    text-transform: uppercase;
}

.contact-me-btn{
    background-color: var(--highlight-green);
    color: var(--primary-text);
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Jura", sans-serif;
    padding: 12px 24px;
    border: none;
    transition: background-color 0.3s ease;
    justify-self: center;
    text-transform: uppercase;
    position: sticky;
}

.contact-me-btn:hover, .contact-me-btn:focus, .contact-me-btn:active{
    background-color: var(--highlight-green);
    color: var(--primary-text);
    transform: scale(1.05);

}

.cursor-dot {
    position: fixed;
    top: 0;
    left: 0;
    width: 15px; 
    height: 15px;
    background-color: var(--primary-green);
    border-radius: 50%; 
    transform: translate(-50%, -50%); /* Centers the dot on the cursor */
    pointer-events: none; /* Allows clicks to pass through the dot */
    transition: transform 0.1s ease;
    z-index: 1000; /* Ensures the dot is on top of other elements */

}

/* Modifier: white variant used when hovering the Contact Me button/section */


.cursor-dot-white{
    position: fixed;
    top: 0;
    left: 0;
    width: 15px; 
    height: 15px;
    background-color: var(--primary-text);
    border-radius: 50%; 
    transform: translate(-50%, -50%); /* Centers the dot on the cursor */
    pointer-events: none; /* Allows clicks to pass through the dot */
    transition: transform 0.1s ease;
    z-index: 1000; /* Ensures the dot is on top of other elements */
}

.hero{
    justify-content: flex-end;
    align-self: flex-start;
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2vw;
}

.hero-pretitle{
    color: var(--secondary-black);
    font-size: 24px;
    font-weight: 600;
    font-family: "Jura", sans-serif;
}

.about-me{
    display: flex;
    flex-direction: column;
    height: auto ;
    margin-bottom: 5rem ;
}   

.random-square{
    width: 50px;
    height: 10px;
    background-color: var(--primary-text);
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.contact-me{
    background-color: var(--dark-background);
    height: 100vh;
    width: 100%;
    color: var(--primary-background);
    padding: 2vw;
}

.contact-me p{
    color: var(--primary-background);
}

.flexicons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap : 0.5%;
}

.flexicon {
    background: var(--dark-background);
    color: var(--primary-off-white);
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center; /* Center icon by default */
    transition: all 0.2s ease;
    overflow: hidden;
    box-sizing: border-box;
    
    padding-left: 0px; /* No padding when not hovered */
}


.flexicon-icon {
    font-size: 24px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:justify;

    height: 24px;
    transition: color 0.2s;
}

.flexicon-icon i {
    color: var(--primary-off-white);
}


.flexicon-text{
    margin-left: 10px;
    font-size: 1.5rem;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s;
    color: var(--primary-off-white);
    }


.flexicon-text a{
    text-decoration: none;
    color: var(--primary-off-white);
}


.flexicon:hover {
    width: 200px;
    height: 64px;
    border-radius: 0px;
    
    .flexicon-icon {
        translate: 0px;
        visibility: hidden;
    }

    .flexicon-text {
        opacity: 1;
    
    }
}

.input-field{
    font-family: "Jura", sans-serif;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.input-field input,
.input-field textarea {
    font-family: "Jura", sans-serif;
    box-sizing: border-box;
    color: var(--light-gray-text);
    margin-bottom: 16px;
}

.input-field-label{
    font-family: "Jura", sans-serif;
    
}

.footer-links, .footer-title{
    color: var(--light-gray-text);
    text-decoration: none;
    font-size: 1.2rem;
    font-family: "Jura", sans-serif;
    text-align: right;
}


.footer-title{
    font-weight: 600;
    margin-bottom: 0.5rem;
    color:white;
    
}

.footer-links a{
    color: var(--light-gray-text);
    text-decoration: none;
}
.footer-links a:hover{
    color: var(--highlight-green);
}

.footer-footer{
    color: var(--light-gray-text);
    font-size: 1rem;
    font-family: "Jura", sans-serif;
    text-align: right;
    margin-top: 1rem;
}

.work-education-left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.work-education-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.work-education-text{
    font-family: "Jura", sans-serif;
    color: var(--primary-text);
    font-size: 1.2rem;
    margin: 0;
    font-weight: 500;
    line-height: 0.9;
    padding: 0;
}

.resume-button{
    background-color: var(--primary-black);
    color: var(--light-gray-text);
    font-size: 1.2rem;
    width: fit-content;
    justify-content: center;
    align-self: center;
    font-weight: 600;
    font-family: "Jura", sans-serif;
    padding: 12px 24px;
    border: none;
    transition: background-color 0.3s ease;
    justify-self: center;
    text-transform: uppercase;
    margin-top: 2rem;
}


.resume-button:hover, .resume-button:focus, .resume-button:active{
    background-color: var(--primary-black);
    color: var(--light-gray-text);
    transform: scale(1.05);

}







@media only screen and (max-width: 768px) {
    .main-title{
        font-size: 4rem;
    }

    .section-title{
        font-size: 2.5rem;
    }
    
}